@import '../../utilities/mixins.module.scss';
@import '../../utilities/colors.module.scss';

.AddCustomerIcon {
  @include icon($primaryPurple, $secondaryPurple, 30px);
}

.DetailsTable{
  background-color: #eeededdc;
  border-radius: 5px;
  border: 1px double $primaryGreen;
  box-sizing: border-box;
}
