@import '../../utilities/mixins.module.scss';
@import '../../utilities/colors.module.scss';

.AddCustomerIcon {
  @include icon($otherPurple, $palette1Purple, 30px);
}

.DetailsTable {
  background-color: #eeededa2;
  border: 1px solid $palette1Purple;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 2%;
}
