@import '../../utilities/mixins.module.scss';
@import '../../utilities/colors.module.scss';

.AddCustomerIcon {
  @include icon($palette2Purple, $palette1LightPurple, 30px);
}

.DetailsTable {
  background-color: #eeededdc;
  border-radius: 5px;
  border: 1px double $palette1Green;
  box-sizing: border-box;
}
