@import '../../../utilities/colors.module.scss';
@import '../../../utilities/mixins.module.scss';

.FilterBar {
  @include flexRowAround;
  @include whiteCenteredBox(85%);

  margin-top: 2%;
  margin-bottom: 1%;
  padding: 12px;
  box-sizing: border-box;
  @include shadow();
}
