@import '../../utilities/colors.module.scss';

.CustomerTable {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 0 0px 20px 1px $primaryPurple;
}

.Spinner {
  position: absolute;
  top: 50%;
  bottom: 50%;
}
