@import '../../utilities/colors.module.scss';
@import '../../utilities/mixins.module.scss';

.CustomerTable {
  width: 85%;
  margin: 0 auto;
  @include shadow();
}

.Spinner {
  position: absolute;
  top: 50%;
  bottom: 50%;
}
