$primaryPurple: #53008c;
$secondaryPurple: #59194f;
$primaryGreen: #04bf9d;
$secondaryGreen: #08a689;
$primaryPink: #f288c2;
$secondaryPink: #f2bdd6;
$white: #ffff;
$red: #d50000;
$lightRed: #df3030;

$otherPurple: #6d32b2;
$otherPurpleLight: #ab61ff;
$otherGreen: #39cc64;
$otherGreenDarker: #3bb25e;

:export {
  primary: $otherPurple;
  secondary: $secondaryGreen;
  red: $lightRed;
  white: $white;
}
