$primaryPurple: #53008c;
$secondaryPurple: #59194f;
$primaryGreen: #04bf9d;
$secondaryGreen: #08a689;
$primaryPink: #f288c2;
$secondaryPink: #f2bdd6;
$white: #ffff;
$red: #d50000;
$lightRed: #df3030;

$otherPurple: #6D32B2;
$otherPurpleLight: #AB61FF;
$otherGreen: #39CC64;
$otherGreenDarker: #3BB25E;

:export{
   primary: $otherPurple;
   secondary: $otherGreen; 
}
