$primaryPurple: #53008c;
$secondaryPurple: #59194f;
$primaryGreen: #04bf9d;
$secondaryGreen: #08a689;
$primaryPink: #f288c2;
$secondaryPink: #f2bdd6;
$white: #ffff;
$red: #d50000;
$lightRed: #df3030;
