@import '../../utilities/mixins.module.scss';
@import '../../utilities/colors.module.scss';

.Delete {
  @include icon($red, $lightRed, 25px);
  cursor: pointer;
}

.Edit {
  @include icon($palette1Purple, $palette1LightPurple, 25px);
  cursor: pointer;
}

.View {
  @include icon($pallete1Blue, $palette1LightBlue, 25px);
  cursor: pointer;
}

.Currency {
  @include icon($palette1Green, $palette1LightGreen, 25px);
  cursor: pointer;
}

.ActionIcons {
  @include flexRowAround();
  width: 50%;
  position: relative;
  left: 25%;
}
