@import '../../utilities/mixins.module.scss';
@import '../../utilities/colors.module.scss';

.Delete {
  @include icon($red, $lightRed, 30px);
}

.Edit {
  @include icon($palette1Purple, $palette1LightPurple, 30px);
}

.ActionIcons {
  @include flexRowAround();
  width: 50%;
  position: relative;
  left: 25%;
}
